@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* globale Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f8f8;
  background-image: radial-gradient(circle, #d1d1d1 1%, transparent 10%),
    radial-gradient(circle, #d1d1d1 1%, transparent 10%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
}

.site {
  display: flex;
  flex-direction: column;
}

button,
.btn {
  cursor: pointer;
  width: 129.76px;
  padding: 12.32px 0;
  border-radius: 54px;
  background-color: #010c3f;
  text-align: center;
  font-size: 15px;
  transition: background-color 0.25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  margin: 10px 0px;
}

button:hover,
.btn:hover {
  background-color: #001ea8;
}

/* header */

.header {
  min-height: 200px;
  background: #fff;
}

/* titel region mit logo, titel und wichtigen links  */

.titel-region {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 146px;
}

.titel-region h1 {
  grid-area: titel;
  margin: auto 10px;
  color: #021778;
}

.wichtige-links {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.link {
  color: #021778;
  border-bottom: 1px solid #ddd;
  padding: 7px 10px;
  margin: auto 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.link i {
  margin: 0 5px;
}

.link span {
  margin: 0 20px;
}

.link:last-child {
  border-bottom: none;
}

.menu-btn {
  display: none;
}

.navigation {
  min-height: 50px;
}
.navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start space-evenly;
  text-decoration: none;
}
.navigation li {
  margin: 10px 40px;
  list-style: none;
}
.navigation a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.navigation a:hover {
  color: #010c3f;
  font-weight: 500;
}

/* main content area */

/* Artikel */

.article-container {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
  background-color: #fff;
  min-height: 90vh;
}
.article {
  padding: 20px;
}

.article h1 {
  color: #0b3c49;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: 2.75rem;
}

.article p {
  font-size: 1rem;
  line-height: 1.56rem;
}

/* footer */

.footer-container {
  margin-top: 6rem;
  flex-shrink: 0;
}

.row {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  text-align: right !important;
  flex: 0 0 100%;
  max-width: 100%;
}

.to-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background-color: #73d0ea;
  color: #021778;
  height: 60px;
  width: 60px;
  position: absolute;
  top: -30px;
  padding-top: 11px;
  transition: all 250ms;
  right: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.to-top i {
  font-size: 25px;
}

.to-top:hover {
  background-color: #021778;
  color: #73d0ea;
}

.footer {
  background-color: #1986a4;
  color: white;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* responsive */
@media (max-width: 940px) {
  .titel-region h1 {
    display: none;
  }
  .article-container {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .header {
    height: 10%;
    min-height: 0;
  }
  .logo-wrapper {
    max-width: 50%;
  }
  .wichtige-links {
    display: none;
  }
  .menu-btn {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color: #021778;
  }
  .burger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .menu-btn p {
    color: #fff;
    font-size: 18px;
  }

  .menu-btn-burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-burger::before,
  .menu-btn-burger::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-btn-burger::before {
    transform: translateY(13px);
  }
  .menu-btn-burger::after {
    transform: translateY(-13px);
  }

  /* animation */

  .menu-btn.open .menu-btn-burger {
    background: transparent;
  }

  .open {
    background: red;
  }

  .menu-btn.open .menu-btn-burger::before {
    transform: rotate(45deg);
  }

  .menu-btn.open .menu-btn-burger::after {
    transform: rotate(-45deg);
  }

  .navigation {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #fff;
  }
  .navigation ul {
    margin-top: 25px;
  }

  .navigation li {
    margin: 10px 20px;
  }
  .navigation a {
    display: block;
    transition: 0.3s;
  }

  .navigation.show-nav {
    width: 50%;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container {
    margin-top: 0;
  }

  .footer {
    padding: 25px 10px;
  }
}
